
.row.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutters .col{
    padding-left: 0;
    padding-right: 0;
}
.grid{
    width: 100%;
    padding: 0;
}
.wide{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.col{
    padding-left: 4px;
    padding-right: 4px;
}


/* Tablet - PC */
@media (min-width:740px) and (max-width:1023px){
        .wide{
            padding: 10px;
            min-width: 700px;
            max-width: 950px;
    }
    .course-item{
        margin: 16px;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0{
        display: none;
    }
    .m-1{
        flex-basis: 8.3333%;
        max-width:  8.3333%;
    }
    .m-2{
        flex-basis: 16.3337%;
        max-width: 16.3337%;
    }
    .m-3{
        flex-basis: 25%;
        max-width: 25%;
    }
    .m-4{
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .m-5{
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .m-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    .m-7{
        flex-basis: 58.3333%;
        max-width:  58.3333%;
    }
    .m-8{
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .m-9{
        flex-basis: 75%;
        max-width: 75%;
    }
    .m-10{
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .m-11{
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .m-12{
        flex-basis: 100%;
        max-width: 100%;
    }
.m-0-1{
    margin-left:  8.3333%;
}
.m-0-2{
    margin-left: 16.3337%;
}
.m-0-3{
    margin-left: 25%;
}
.m-0-4{  
    margin-left: 33.3333%;
}
.m-0-5{
    margin-left: 41.6667%;
}
.m-0-6{
    margin-left: 50%;
}
.m-0-7{
    margin-left:  58.3333%;
}
.m-0-8{
    margin-left: 66.6667%;
}
.m-0-9{
    margin-left: 75%;
}
.m-0-10{
    margin-left: 83.3333%;
}
.m-0-11{
    margin-left: 91.6667%;
}
}
/* Mobile */
@media (max-width:739px){
    .row{
        margin-left: -4px;
        margin-right: -4px;
    }
    .wide
    {
        padding: 0 5px;
    }
    .c-0{
        display: none;
    }
    .c-1{
        flex-basis: 8.3333%;
        max-width:  8.3333%;
    }
    .c-2{
        flex-basis: 16.3337%;
        max-width: 16.3337%;
    }
    .c-3{
        flex-basis: 25%;
        max-width: 25%;
    }
    .c-4{
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .c-5{
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .c-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    .c-7{
        flex-basis: 58.3333%;
        max-width:  58.3333%;
    }
    .c-8{
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .c-9{
        flex-basis: 75%;
        max-width: 75%;
    }
    .c-10{
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .c-11{
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .c-12{
        flex-basis: 100%;
        max-width: 100%;
    }
    .c-0-1{
        margin-left:  8.3333%;
    }
    .c-0-2{
        margin-left: 16.3337%;
    }
    .c-0-3{
        margin-left: 25%;
    }
    .c-0-4{  
        margin-left: 33.3333%;
    }
    .c-0-5{
        margin-left: 41.6667%;
    }
    .c-0-6{
        margin-left: 50%;
    }
    .c-0-7{
        margin-left:  58.3333%;
    }
    .c-0-8{
        margin-left: 66.6667%;
    }
    .c-0-9{
        margin-left: 75%;
    }
    .c-0-10{
        margin-left: 83.3333%;
    }
    .c-0-11{
        margin-left: 91.6667%;
    }
}
/* PC */
@media (min-Width:1024px) {
    .row{
        margin-left: -12px;
        margin-right: -12px;
    }
    .col{
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0{
        display: none;
    }
    .l-1{
        flex-basis: 8.3333%;
        max-width:  8.3333%;
    }
    .l-2{
        flex-basis: 16.3337%;
        max-width: 16.3337%;
    }
    .l-3{
        flex-basis: 25%;
        max-width: 25%;
    }
    .l-4{
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .l-5{
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .l-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    .l-7{
        flex-basis: 58.3333%;
        max-width:  58.3333%;
    }
    .l-8{
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .l-9{
        flex-basis: 75%;
        max-width: 75%;
    }
    .l-10{
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .l-11{
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .l-12{
        flex-basis: 100%;
        max-width: 100%;
    }
    .l-0-1{
        margin-left:  8.3333%;
    }
    .l-0-2{
        margin-left: 16.3337%;
    }
    .l-0-3{
        margin-left: 25%;
    }
    .l-0-4{  
        margin-left: 33.3333%;
    }
    .l-0-5{
        margin-left: 41.6667%;
    }
    .l-0-6{
        margin-left: 50%;
    }
    .l-0-7{
        margin-left:  58.3333%;
    }
    .l-0-8{
        margin-left: 66.6667%;
    }
    .l-0-9{
        margin-left: 75%;
    }
    .l-0-10{
        margin-left: 83.3333%;
    }
    .l-0-11{
        margin-left: 91.6667%;
    }
}
@media (min-Width:1024px) and (max-Width:1250px) {
    .wide{
        padding: 0 12px;
    }
}







